@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Raleway:wght@200&display=swap');


.component .basket-container {
    padding: 1rem;
    text-align: center;
    margin: 2% 0 2% 14%;
    width: 70%;
    height: auto;
    border-radius: 1rem;
    font-family: 'Baloo 2', cursive;
    box-shadow: 3px 4px 4px 3px rgb(0, 0, 139, 0.2);
  }

  .basket-container h1 {
    font-family: 'Fira Code', monospace;
  }

  .basketlist {
    width: 90%;
    padding: 1rem 2rem;
    display: -webkit-box;
    border-bottom: 3px solid rgb(0, 0, 139, 0.2);
    margin: 1rem;
  }
  
  .total h1 {
    text-align: right;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: .5rem;
    margin: 2rem 4rem;
    border: 3px solid transparent;
    border-radius: 5px;
    width: 30%;
    min-width: 12rem;
  }

  .name h1 {
    text-align: left;
    font-size: 1.3rem;
    margin: 1rem 0;
    width: 38rem;
    font-family: 'Raleway', sans-serif;
  }
  
  .element-specify{
    display: flex;
    min-width: 25rem;
  }

  .button-amount {
    width: 8rem;
    margin: 0 3rem;
    border: 1px solid grey;
    color: black;
    border-radius: 6px;
  }

  .price h1 {
    width: 8rem;
    margin: 1rem 0;
    font-size: 1.4rem;
  }

  .button-amount button{
    background-color: white;
    margin: 1rem .6rem;
    padding: 0 0 0rem 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-radius: .3rem;
    color: black;
  }
  
  .button-amount button:hover {
    background-color: rgb(30, 144, 255, 0.8);
    color: white;
  }
  
  @media only screen and (max-width: 1300px) {
    .component .basket-container {
        padding: 1rem;
        margin: 2% 15%;
    }
    
    .basketlist {
      display: block;
      width: 100%;
    }

    .name h1 {
        margin: 1rem 0;
        width: 100%;
      }
  }



