.list-element li {
    width: 20vw;
    height: 2.5rem;
    background-color:  rgba(0, 0, 0, 0.888);
    border: 2px solid white;
    color: white;
    padding: 2% 5% 0 5%;
    text-transform: uppercase;
    list-style: none;
    font-weight: bold;
    letter-spacing: 2.5px;
  }
  
  li:hover {
    background-color: rgb(21, 104, 187);
    font-weight: bolder;
    color: black;
  }

  @media only screen and (max-width: 990px) {
    .list-element li {
      height: 3.5rem;
    }
  }